body {
    display: flex;
    flex-direction: row;

    background-color: rgb(246, 251, 255);

    padding: 0;
    margin: 0;
    
    font-family: "Helvetica", "Arial", sans-serif;
}

.background-container {
    width: 35vw;
    height: 100vh;

    display: flex;
    justify-content: center;
}

.background-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-text {
    position: absolute;
    bottom: 0px;

    color: #ffffffff;
}

a {
    color:#ffffffff;
}

.site-pitch {
    font-size: 1.3em;

    width: 60vw;
    margin-left: 30px;
    padding-top: 20vh;
}

.form-container {
    background-color: #ffffffff;

    width: 65vw;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 2px 5px #ccc;
}