body {
    display: flex;
    flex-direction: row;

    padding: 0;
    margin: 0;
    
    font-family: "Helvetica", "Arial", sans-serif;
}

.background-container {
    width: 35vw;
    height: 100vh;

    display: flex;
    justify-content: center;
}

.background-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-text {
    position: absolute;
    bottom: 0px;

    color: #ffffffff;
}

a {
    color:#ffffffff;
}

.site-pitch {
    font-size: 1.4em;

    width: 60vw;
    margin-left: 10px;
}