@font-face {
    font-family: 'logoFont';
    src: url('../fonts/logoFont.woff2') format('woff2');
}

body {
    display: flex;
    flex-direction: row;

    background-color: rgb(246, 251, 255);

    padding: 0;
    margin: 0;
    
    font-family: "Helvetica", "Arial", sans-serif;
}

.background-container {
    width: 35vw;
    height: 100vh;

    display: flex;
    justify-content: center;

    position: relative;
}

.background-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.logo-container {
    position: absolute;
    top: 18vh;
    left: 0;
    right: 0;

    background-color: #242424;
    opacity: 0.3;
    padding: 4vh 0;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.logo-image {
    max-width: 100px;
}

.logo-text {
    margin-top: 4vh;
    margin-left: 5px;

    font-family: 'logoFont';
    font-size: 1.8em;
    color: #ffffffff;
}

.image-text {
    position: absolute;
    bottom: 0px;

    color: #ffffffff;
}

.image-link {
    color:#ffffffff;
}

.site-pitch {
    font-size: 1.3em;

    width: 60vw;
    max-width: 550px;

    margin-left: 30px;
    margin-top: 18vh;
    margin-bottom: 20px;
}

.form-container {
    background-color: #ffffffff;

    width: 65vw;
    padding-top: 10px;
    padding-bottom: 30px;
    box-shadow: 5px 2px 5px #929292;
}

.form {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;

    width: 100%;
    max-width: 550px;
    margin-left: 30px;
    margin-right: 30px;
}

h2 {
    margin-left: 30px;
    font-size: 1.3em;
}

button,
label,
input {
    display: block;
    font-family: inherit;
    font-size: 100%;
    padding: 0px;
    margin: 0;
    margin-bottom: 30px;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    border-radius: 4px;
}

input {
    padding-left: 5px;
    border: 1px solid silver;
}

button {
    width: 35%;
    max-width: 220px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 50px;
    padding: 10px 10px;

    border: none;
    box-shadow: 2px 2px 4px #ccc;

    color: #ffffffff;
    background-color: #38751c;

    font-size: 1.2em;
    font-weight: bold;
}

.existing-account {
    text-decoration: none;
    color: #38751c;
    font-weight: bold;
}

.existing-account-container {
    margin-left: 30px;
}

.form-first-name,
.form-last-name,
.form-email,
.form-phone,
.form-pwd,
.form-pwd-confirm {
    flex: 0 0 90%;
    max-width: 90%;
}

@media (min-width: 600px) {
    .form-first-name,
    .form-last-name,
    .form-email,
    .form-phone,
    .form-pwd,
    .form-pwd-confirm {
    flex: 0 0 45%;
    max-width: 45%;
    }
}

input:focus {
    outline: 2px solid #1d77ff;
    box-shadow: 4px 4px 5px #ccc;
}

input:invalid {
    outline: 2px solid #fd5353;
}

button:hover {
    cursor: pointer;
}